export SRC_DIR=$HOME/src/jrl
export INSTALL_DIR=$HOME/openrtp
export NUBMBER_OF_CORES=8
export BUILD_TYPE=Release
export REBUILD_HMC=1
#Specify drcutil build directory only if you want hmc to be rebuilt
export DRCUTIL_DIR=


