export SRC_DIR=$HOME/src/jrl
export INSTALL_DIR=$HOME/openrtp
export NUBMBER_OF_CORES=8
export BUILD_TYPE=Release
export DRCUTIL_DIR=$HOME/src/drcutil
#Specify REBUILD_HMC build to1 only if you want hmc to be rebuilt
export REBUILD_HMC=0


