export DRCUTIL_DIR=$HOME/src/drcutil
scriptDirectory="$(pwd)"
cd  $DRCUTIL_DIR
source $DRCUTIL_DIR/config.sh
cd $scriptDirectory
export SRC_DIR=$HOME/src/jrl
export INSTALL_DIR=$HOME/openrtp
export NUBMBER_OF_CORES=$MAKE_THREADS_NUMBER
export BUILD_TYPE=Release

#Specify REBUILD_HMC build to 1 only if you want hmc to be rebuilt
export REBUILD_HMC=0











